/* App.css */
.app-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f1f1f1; /* Set your desired background color here */
  }

  /* App.css */
body {
    background: linear-gradient(90deg, #3498db, #2ecc71);
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .app-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1; /* Set your desired background color here */
  }
  
  .form-container {
    background-color: #fff;
  }
  
  .welcome-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

  